{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Bloggy. </title>
    {% tailwind_css %}
</head>

<body>
    <div class="py-4 px-8 sticky top-0 z-40 bg-white ">
        <h1 class="text-[2vw] left-2 font-bold ">
            BLOGGY<span class="text-red-500">.</span></h1>

    </div>
    <div class="bg-gray-50 overflow-hidden flex flex-row-reverse items-center justify-center gap-20">
        <div class="z-20">
            <form action="" method="POST"
                class="flex bg-white border-gray-400 shadow-lg items-center justify-center flex-col px-8 my-28 py-8 gap-6  mx-auto rounded-lg w-[400px]">
                <h1 class="font-semibold text-gray-800 text-3xl font-mono uppercase mb-4">Login</h1>
                {% csrf_token %}

                <div class="flex flex-col items-start gap-1 w-full">
                    <label for="email" class="font-mono text-gray-600 text-sm">Email<span
                            class="text-red-500 text-lg">*</span></label>
                    <input type="email"
                        class="border-0 bg-gray-200 rounded-md border-gray-400 text-sm w-full outline-none"
                        name="email">
                </div>
                <div class="flex flex-col items-start gap-1 w-full">
                    <label for="password" class="font-mono text-gray-600 text-sm">Password<span
                            class="text-red-500 text-lg">*</span></label>
                    <input type="password"
                        class="border-0 bg-gray-200 rounded-md border-gray-400 text-sm w-full outline-none"
                        name="password">
                </div>
                <p class="text-sm text-gray-600 font-medium">Don't have an account? <a class="text-blue-800 underline"
                        href="/register">Sign Up</a></p>
                <button type="submit"
                    class="bg-black border-black text-white w-fit rounded-lg px-6 py-2 mx-auto font-mono border hover:bg-gray-300 hover:text-black transition-all duration-500 my-4">Sign
                    In</button>
            </form>
        </div>
        <h1 class="text-8xl absolute -z-0 -rotate-12 text-[300px] left-2 font-bold opacity-10 text-center ml-32">
            BLOGGY<span class="text-red-500">.</span></h1>

    </div>
</body>

</html>