{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Bloggy.</title>
    {% tailwind_css %}
</head>

<body class="overflow-x-auto">
    <div class="py-4 px-8 sticky top-0 z-40 bg-white select-none">
        <h1 class="text-[2vw] left-2 font-bold ">
            BLOGGY<span class="text-red-500">.</span></h1>

    </div>
    <div class="relative select-none bg-gray-50 overflow-hidden flex items-center justify-center gap-20">
        <h1 class="absolute -z-0 text-[300px] font-bold opacity-10 pl-0 rotate-12">BLOGGY<span
                class="text-red-500">.</span></h1>
        <div class="z-10 se">
            <form action="" method="POST"
                class="flex  bg-white border-gray-400 shadow-lg items-center justify-center flex-col px-8 my-20 py-8 gap-6 mx-auto rounded-lg w-[400px]">
                <h1 class="font-semibold text-gray-800 text-3xl font-mono uppercase mb-4">Register</h1>
                {% csrf_token %}
                <div class="flex flex-col items-start gap-1 w-full">
                    <label for="username" class="font-mono text-gray-600 text-sm">Username<span
                            class="text-red-500 text-lg">*</span></label>
                    <input type="text"
                        class="bg-gray-200 font-medium border-none rounded-md border-gray-400 text-sm w-full outline-none"
                        name="username">
                </div>
                <div class="flex flex-col items-start gap-1 w-full">
                    <label for="email" class="font-mono text-gray-600 text-sm">Email<span
                            class="text-red-500 text-lg">*</span></label>
                    <input type="email"
                        class="bg-gray-200 font-medium border-none rounded-md border-gray-400 text-sm w-full outline-none"
                        name="email">
                </div>
                <div class="flex flex-col items-start gap-1 w-full">
                    <label for="password" class="font-mono text-gray-600 text-sm">Password<span
                            class="text-red-500 text-lg">*</span></label>
                    <input type="password"
                        class="bg-gray-200 font-medium border-none rounded-md border-gray-400 text-sm w-full outline-none"
                        name="password">
                </div>
                <p class="text-sm text-gray-600 font-medium">Already have account? <a class="text-blue-800 underline"
                        href="/login">login</a></p>
                <button type="submit"
                    class="bg-black border-black text-white w-fit rounded-lg px-8 py-2 mx-auto font-mono border hover:bg-gray-300 hover:text-black transition-all duration-500 my-2">Sign
                    Up</button>
            </form>
        </div>
    </div>

</body>

</html>